%h3 Our friends
= link_to "http://www.rusty.com/", class: "friends-link", target: "_blank" do
  = image_tag "rusty.png"
= link_to "http://www.kutapuri.com/bungalowandspa/",
class: "friends-link", target: "_blank" do
  = image_tag "kuta-puri.png"
= link_to "http://www.hardrockhotels.net/",
class: "friends-link", target: "_blank" do
  = image_tag "hard-rock.png"
%hr/
