#footer
  .page-wrapper.footer-wrapper
    .row
      #contacts.footer-blocks.col-lg-3.col-sm-6
        = render "shared/footer/contacts"
      #social.footer-blocks.col-lg-3.col-sm-6
        = render "shared/footer/social"
      .clearfix.visible-md.visible-sm
      #testimonials.footer-blocks.col-lg-3.col-sm-6
        = render "shared/footer/testimonials"
      #newsletter.footer-blocks.col-lg-3.col-sm-6
        = render "shared/footer/newsletter"
  #google-map
  #sub-footer.page-wrapper.footer-wrapper
    %p#copy
      &copy; 2016
      = link_to "Bali Learn To Surf", root_path
    %p#credits
      Designed by
      = link_to "Tony Khaybulaev", "https://www.upwork.com/o/profiles/users/_~01856a904db6e8db2a/"
    .clearfix