.page-wrapper
  #header
    #descript.notranslate
      = link_to root_path do
        %h1 Bali Learn to Surf
        %h3 First school on Bali, est 1999
    .lang-toggle
      = render "shared/translate"
    .nav-toggle
      .bar.first
      .bar.second
      .bar.third
    #main-nav
      %ul
        %li
          = link_to "Surf courses", "#"
        %li
          = link_to "Surfari's", "#"
        %li
          = link_to "Board rentals", show_page_path("boardrentals")
        %li
          = link_to "Accomodations", "#"
        %li
          = link_to "Gallery", "#"
        %li
          = link_to "Links", show_page_path("links")
