.page-wrapper
  #header
    #descript.notranslate
      = link_to root_path do
        %h1 Bali Learn to Surf
        %h3 First school on Bali, est 1999
    .lang-toggle
      = render "shared/translate"
    .nav-toggle
      .bar.first
      .bar.second
      .bar.third
    #main-nav
      %ul
        %li
          = render_nav_link("Surf courses", surf_courses_path)
        %li
          = render_nav_link("Surfari's", surfaris_path)
        %li
          = render_nav_link("Board rentals", show_page_path("board_rentals"))
        %li
          = render_nav_link("Accomodations", "#")
        %li
          = render_nav_link("Gallery", "#")
        %li
          = render_nav_link("Links", show_page_path("links"))
