.page-wrapper
  #header
    #descript.notranslate
      = link_to "#" do
        %h1 Bali Learn to Surf
        %h3 First school on Bali, est 1999
    .nav-toggle
      .bar.first
      .bar.second
      .bar.third
    #main-nav
      %ul
        %li
          = link_to "Surf courses", "#"
        %li
          = link_to "Surfari's", "#"
        %li
          = link_to "Board rentals", "#"
        %li
          = link_to "Accomodations", "#"
        %li
          = link_to "Gallery", "#"
        %li
          = link_to "Links", "#"
