= simple_form_for(@page) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :name, label: false, placeholder: "Title"
  .field
    = f.input :permalink, label: false, placeholder: "Permalink"
  .field
    = f.input :slider
  .field
    = f.text_area :content, class: "froala"
  .actions
    = f.submit class: "bttn"
    = link_to "Back", :back, class: "admin-link"
    
