.aligner
  %h1 We are social
  = link_to "https://www.facebook.com/Bali-Learn-To-Surf-152963628075398/",
  target: "_blank" do
    %i.fa.fa-facebook
  = link_to "https://twitter.com/BaliLearntoSurf", target: "_blank" do
    %i.fa.fa-twitter
  = link_to "http://www.youtube.com/user/BaliLearntoSurf", target: "_blank" do
    %i.fa.fa-youtube
  = link_to "https://plus.google.com/116652912078371300307", target: "_blank" do
    %i.fa.fa-google-plus
  = link_to "http://www.tripadvisor.com/Attraction_Review-g297697-d2079640-Reviews-Bali_Learn_To_Surf-Kuta_Bali.html", target: "_blank" do
    %i.fa.fa-tripadvisor