- if signed_in? 
  = link_to new_testimonial_path, class: "corner-link" do
    %i.fa.fa-plus
  
%h1 Testimonials

%br/

- @testimonials.each do |t|
  .testimonial
    - if signed_in?
      = link_to edit_testimonial_path(t), class: "corner-link offset-1" do
        %i.fa.fa-pencil
      = link_to testimonial_path(t), method: :delete, data: { confirm: "Are you sure?" },
                                                            class: "corner-link danger" do
        %i.fa.fa-trash
    
    .row
      .col-xs-12
        %p= t.content
        %h3= t.name
  %hr/

%h2 Add yours
= render "testimonial_form_mailer/form"

-#= link_to "Add yours", give_testimonial_path, class: "bttn action inline"