!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BaliSurfing
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
    = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Pacifico|PT+Sans:400,700&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
  %body
    = render "shared/header"
    = render "shared/to_top"
    .page-wrapper
      .main-content-wrapper
        #main-content
          = yield
      = render "shared/sidebar"
    .clearfix
    = render "shared/footer"
